* {
    font-family:  'Khula', Arial, sans-serif;
    margin: 0;
}
:root {
    --blue: #93aac2;
    --lighter-blue: #c3d5e9;
    --red:  #732929;
    --lighter-red:  #c08c8c;
    --dark-grey:  #131313;
    --milky:  #e5dede;
}
#bpImage{
    z-index: -10;
    filter: blur(10px);
    position: fixed;
    height: 100vh;
    right: 0;
}
#bpImage2{
    z-index: -10;
    filter: blur(5px);
    display: none;
}
@keyframes imageHide {
    0% {right: 0;}
    100% {right: -200%;}
}
@keyframes imageShow {
    0% {right: -200%;}
    100% {right: 0;}

}
#home-main {
    /* position: relative;
    display: grid;
    width: 86%;
    padding: 7%;
    column-gap: 20px; */

    height: 86%;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "title em"
                        "text content"
                        "text content";
 
}
.site-title {

    grid-area: title;

}



.toolbar {
    grid-area: text;
    align-self: self-end;

    font-size: 1.7em;
    line-height: 1em;
    /* position: fixed;
    bottom: 30px;
    left: 30px; */
    text-align: left;
    /* display: block; */
    text-transform: uppercase;
    font-weight: 300;
    z-index: 3;

}
.toolbar a:hover {
    font-weight: 400;
}



#list, #contact {
    /* display: none; */
    grid-area: content;
    align-self: self-end;

    font-size: 1.5em;
    line-height: 1em;
    /* position: fixed;
    bottom: 30px;
    right: 4%; */
    font-weight: 300;
    text-align: left;
    z-index: -2;
    /* width: 40%; */
    border-bottom: 1px solid var(--milky);
    border-right: 1px solid var(--milky);
    /* height: 0; */
    opacity: 0;

}
#list {
    text-transform: uppercase;
}

#contact {
    padding-bottom: 5px;
}
#contact a {
    padding: 0 20px 0 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-transform: uppercase;
}
#contact i {
    font-size: 0.8em;
}

@keyframes show {
    /* 0% {height: 0;}
    100% {height: fit-content;} */
    from {
        transform: translate3d(0px, 10px, 0px);
        opacity: 0;

      }
      to {
        transform: translate3d(0, 0, 0);
        opacity: 1;

      }
}
@keyframes hide {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;

      }
      to {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
      }
}

#close {
    grid-area: em;
    display: none;
    color:var(--milky);
    z-index: 10 ;
    text-align: right;
}

#close:hover {
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    #home-main {

        /* width: 88%; */
        height: fit-content;
        /* padding: 6%; */
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                            "text"
                            "content"
    }
    #close {
        grid-area: title;
    }
    #bpImage{
        display: none;
    }
    #bpImage2 {
        display: block;
        position: fixed;
        height: 100vh;
        bottom: 0;
        right: 0;
        z-index: -2;
    }
    #list, #contact, .toolbar, .site-title { 
        padding-bottom: 20px;
    }
    .toolbar {
        text-align: right;
    }
    .footer {
        opacity: 0.9;
        color: #131313;
        filter: none;
    }
}
