* {
    font-family:  'Khula', Arial, sans-serif;
    margin: 0;
}
:root {
    --blue: #93aac2;
    --lighter-blue: #c3d5e9;
    --red:  #732929;
    --lighter-red:  #c08c8c;
    --dark-grey:  #131313;
    --milky:  #e5dede;
}
#bpImage{
    z-index: -10;
    filter: blur(20px);
    position: fixed;
    height: 100vh;
    right: 0;
}

#bpImage2{
    z-index: -10;
    filter: blur(5px);
    display: none;
}
@keyframes imageHide {
    0% {right: 0;}
    100% {right: -200%;}
}
@keyframes imageShow {
    0% {right: -200%;}
    100% {right: 0;}

}
#home-main {

    /* height: 86%; */
    grid-template-columns: 4fr 1fr ;
    row-gap: 40px;
    grid-template-areas: "title em"
                        "content text"
                        "content text"
                        "ex ex";
 
}
.site-title {

    grid-area: title;


}

#name {
    font-size: 10vw;
    line-height: 9vw;

    /* width: fit-content; */
    /* block-size: fit-content; */
    text-align: left;
    /* text-align-last: justify; */
    text-justify: inter-word;
    text-transform: uppercase;
    opacity: 0.8;
}


#copyright {
    text-align: left;
}
#color-box {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 26%;

    background-color: #4b2b2b;
    mix-blend-mode: hard-light;
    border-left: 2px solid var(--milky) ;

}



.toolbar {
    grid-area: text;
    align-self: self-end;

    font-size: 1.7em;
    line-height: 1em;
    /* position: fixed;
    bottom: 30px;
    left: 30px; */
    text-align: left;
    /* display: block; */
    text-transform: uppercase;
    font-weight: 300;
    z-index: 3;

}
.toolbar a:hover {
    font-weight: 400;
}

#exhibit {
    z-index: 40;
    align-self: center;
    grid-area: ex;

}
#exhibit img {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 90%;
}
#exhibit a {
    /* display: grid; */

}
#exhibit h3 {
    grid-column: 1/1;
    width: 90%;
    font-size: 0.7em;
    grid-row: 1/1;
    align-self: self-end;
    text-align: center;

}

#list, #contact {
    align-self: self-end;

    /* display: none; */
    grid-area: content;
    /* align-self: self-end; */

    font-size: 1.5em;
    line-height: 1em;
    /* position: fixed;
    bottom: 30px;
    right: 4%; */
    font-weight: 300;
    text-align: left;
    z-index: -2;
    /* width: 40%; */
    /* border-bottom: 1px solid var(--milky);
    border-right: 1px solid var(--milky); */
    /* height: 0; */
    opacity: 0;
}

#list {
    text-transform: uppercase;
}

#list a {
    opacity: 0;
}


#contact {
    padding-bottom: 5px;
    width: 40%;
}
#contact a {
    /* padding: 0 20px 0 0; */
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-transform: uppercase;
}
#contact i {
    font-size: 0.8em;
    display: none;
}

@keyframes show {
    /* 0% {height: 0;}
    100% {height: fit-content;} */
    from {
        transform: translate3d(0px, 10px, 0px);
        opacity: 0;

      }
      to {
        transform: translate3d(0, 0, 0);
        opacity: 1;

      }
}
@keyframes hide {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;

      }
      to {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
      }
}

#close {
    grid-area: em;
    display: none;
    color:var(--milky);
    z-index: 10 ;
    text-align: right;
}

#close:hover {
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    #home-main {

        /* width: 88%; */
        height: fit-content;
        /* padding: 6%; */
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                            "text"
                            "content"
    }
    #close {
        grid-area: title;
    }
    #bpImage{
        display: none;
    }
    #bpImage2 {
        display: block;
        position: fixed;
        height: 100vh;
        bottom: 0;
        right: 0;
        z-index: -2;
    }
    #list, #contact, .toolbar, .site-title { 
        padding-bottom: 20px;
    }
    .toolbar {
        text-align: right;
    }
    /* .footer {
        opacity: 0.9;
        color: #131313;
        filter: none;
    } */
    #color-box {
        position: relative;
        grid-area: content;
        margin: -3.5% -10% -20%;
        bottom: 0;
        top: 0;
        right: 0;
        width: 120%;
        border-top: 2px solid var(--milky) ;
        overflow: hidden;


    }
}
