* {
    font-family:  'Khula', Arial, sans-serif;
    font-weight: 300;
    margin: 0;
}
.tab {
    margin-left: 10px;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
:root {
    --blue: #93aac2;
    --lighter-blue: #c3d5e9;
    --red:  #732929;
    --lighter-red:  #c08c8c;
    --dark-grey:  #131313;
    --milky:  #e5dede;
}
body {
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    overflow: scroll;
}
main {
    position: relative;
    display: grid;
    width: 86%;
    padding: 7%;
    column-gap: 20px;
}

.site-title {
    font-size: 35px;
    line-height: 35px; 
    z-index: 10;
}
#name h3 {
    font-weight: 400;
}

p {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}
footer{
    width: 86%;
    position: relative;
}
.footer {
    opacity: 0.9;
    filter: drop-shadow(1px 1px 2px #000000);
    height: 40px;
    padding-bottom: 10px;
    margin: auto;
    text-align:center;
    color: var(--milky);
}
footer a{
    filter: drop-shadow(1px 1px 2px #000000);
    font-size: 14px;
    color: var(--milky)
}
footer a:hover {
    /* background-color:rgb(115, 41, 41); */
    color: rgb(191, 208, 213);
}
a:visited{
    color: rgb(216, 216, 216);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--milky)
}

a:hover{
    color: rgb(222, 222, 222);
}
a:active {
    color: lightsteelblue;
} 
p {
    color: var(--milky);
}



#whatsapp:active, #whatsapp:hover {
    color: #25D366;
}
#instagram:active, #instagram:hover {
    background: -webkit-linear-gradient(50deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#facebook:active, #facebook:hover {
    color:#3b5998 ;
}
#linkedin:active,#linkedin:hover {
   color: #0072b1 ;
}
#mail:active, #mail:hover {
    color: #BB001B;
}
#phone:active,#phone:hover {
    color: darkkhaki;
}
#telegram:active, #telegram:hover {
    color: #0088cc;
}
#twitter:active, #twitter:hover {
    color: #00acee;
}
#contact a:hover {
    font-weight: 400;
}

/* @media screen and (max-width: 600px) {
    .site-title {
        position: relative;
        /* width: 100%; 
        text-align: left;
        font-size: 20px;
        line-height: 20px;
        left:20px;
        top: 20px;
        z-index: 10;
        padding-bottom: 50px;

    }
} */

