/* 
nav{
    display: flex;
    justify-content: space-between;
    margin: 4% 4%;
    width: 92%;
    height: 5%;
    position:sticky;
    flex-grow: 1;
} */

/* h3, p , h1, ul, h2{
    color: var(--milky);
} */
:root {
    --blue: #93aac2;
    --lighter-blue: #c3d5e9;
    --red:  #732929;
    --lighter-red:  #c08c8c;
    --dark-grey:  #131313;
    --milky:  #e5dede;
}
.site-title {

    font-size: 30px;
    line-height: 30px; 

    grid-area: title;
    z-index: 10;


}
#name-title {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    color: var(--milky);
    font-size: 0.4em;
    line-height: 1em;
}
.main-resume {
    position: relative;
    display: grid;
    width: 88%;
    /* height: 90%; */
    padding: 6%;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: 3fr 1fr 1fr;
    /* grid-template-rows: min-content 200px repeat(3, min-content); */
    grid-template-areas: "title title photo"
                        "bio bio photo"
                        "content content content"
                        "skills languages languages"
                        "skills interest interest";
}

.info {
    grid-area: bio;
    /* margin: auto 15px; */
    align-self: self-end;
    /* top: 50%; 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  */
    padding-right: 20px;

}
.prof-picture {

    grid-area: photo;
    /* display: inline-block; */
    border: 3px dashed var(--milky);
    /* border-radius: 50%; */
    overflow: hidden;
    aspect-ratio: 1/1;
    width: 100%;
    /* border: 1px solid salmon; */
    background-color:var(--red);
    
    margin: auto auto; 
}

.prof-picture img {
    /* border: 1px solid salmon; */

    width:100%;
    height:100%;
    object-fit: cover;
    mix-blend-mode: multiply;

}

.content {
    display: block;
    grid-area: content;
    padding-top: 10px;

}
.content .part {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 20px 10px;
    grid-template-areas: "name text" ;
    grid-template-rows: repeat(4, min-content);
}
.g-title {
    grid-area: name;
}
.g-title h3 {
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 10px;
    text-align: left;
    border-color: var(--milky);
    border-width: 2px;
    border-bottom: none;
    border-left: dashed;
    border-top: dashed;
    border-right: none;
    color: var(--milky);
}
.row-content {
    grid-area: text;
}

.title-year {
    grid-area: text;
    display: flex;
    justify-content: space-between;
    color: var(--milky);
    line-height: 0.9em;
}
.year {
    border: 1px dotted white;
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px 5px;
}
.explain {
    padding-top: 10px;
    font-size: 1em;
    font-weight: 400;
}


.g-content {
    display: block;
}
.responsiilities {
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 5px;
    color: var(--lighter-blue);
    line-height: 1em;

}

.skills {
    grid-area: skills;
    grid-template-rows: repeat(2, fit-content(300px));
    gap: 10px 10px;
} 

 .development {
    grid-area: 1/1/3/2; 
    color: var(--milky);

}


.design-skills {
    color:var(--lighter-red);
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: start;
}
.design-skills h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px solid var(--lighter-red);
}
.dev-skills h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px solid var(--lighter-blue);
}
.dev-skills {
    color: var(--lighter-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: start;
}
.soft-skills {
    color: var(--milky);
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: start;
}
.soft-skills h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px solid var(--milky);
}



#soft-title {
    border: 2px dashed var(--milky);
    border-bottom-style: none;
    margin: 3px 3px;

}
#hard-title {
    border: 2px solid var(--milky);
    border-bottom-style: none;

    margin: 3px 3px;


}


.development h1 {
    position: relative;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 10px;
    border-color: var(--milky);
    border-width: 2px;
    border-bottom: none;
    border-left: solid;
    border-top: solid;
    border-right: none;
    color: var(--milky);
}
.languages {
    /* grid-column: 2/3; */
    grid-area: languages;
    /* grid-area: 1 / 2 / 2 / 3;  */
    color: var(--milky);
    font-size: 0.8em;
    padding: 2px 5px;
}
.languages h1 {
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 0px;
    border-color: var(--milky);
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-top: dashed;
    border-right: dashed;
    color: var(--milky);
}
.fluency {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);

}
.lang-name{
    font-weight: bold;
    font-size: 0.9em;
    grid-area: 1/ 1/1/2; 
    margin: 5px 5px;
    width: 50px;
}
.rectangle {
    grid-area: 1/ 2/1/6; 
    border: 1px dashed var(--milky);
    border-radius: 20px;
    margin: 5px 5px;
    width: 100%;
    z-index: 3;

}
.level {
    grid-area: 1/ 6/1/7; 
    margin: 5px 5px;
    text-align: right;
    font-size: 0.8em;

    width: 50px;
}
#farsi {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 100%;
}
#english {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 90%;
    opacity: 90%;
}
#italian {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 70%;
    opacity: 70%;
}
#german {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 65%;
    opacity: 65%;
}
#arabic {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 40%;
    opacity: 45%;
}


.interests {
    /* grid-area: 2 / 2 / 3 / 3; */
    color: var(--milky);
    grid-area: interest;

    border: 2px solid var(--milky);

}
.interest-container {

    display: flex;
    flex-wrap: wrap;
}
.interests h1 {
    position: relative;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 10px;
    color: var(--milky);
}
.interests h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    color: var(--milky);
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px dotted var(--milky);
} 
#web:hover {
    color: var(--blue);
}

@media screen and (max-width: 600px) {
    .main-resume {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "photo" "bio" "content" "skills" "languages" "interest";
    }
    .content .part {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "name" "text" ;
    }
    #name-title {
        display: flex;
        flex-wrap: wrap;
    }
    #name-title a{
        width: 100%;
    }

.prof-picture {

    width: 50%;
    
}

}
