
:root {
    --blue: #93aac2;
    --lighter-blue: #c3d5e9;
    --red:  #732929;
    --lighter-red:  #c08c8c;
    --dark-grey:  #131313;
    --milky:  #e5dede;
}
.site-title {
    grid-area: title;
    width: 100%;
    padding: 6% 0;
    border-left: 2px solid var(--milky);

}
#name {
    font-size: 10vw;
    /* width: fit-content; */
/* block-size: fit-content; */
text-align: right;
/* text-align-last: justify; */
text-justify: inter-word;
text-transform: uppercase;

}
.main-series {

    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content 5%;
    grid-template-areas: "title" 
                        "text"
                        "content"
                        "next ";
}
.statement {
    grid-area: text;
    font-weight: 300;
    text-align: left;
    z-index: 3;
    border-right: 2px solid var(--milky);


}
.statement p {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0% 6% 3% 0;
}

.photos {
    /* background-color: var(--milky); */
    grid-area: content;
    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;

    column-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content;
    /* justify-content: start; */
    align-content: start;
    flex-wrap: wrap;
}
figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
figure a {
    display: none;
    grid-column: 1/1;
    grid-row: 1/1;
    align-self: self-end;
    font-size: 0.6em;
    padding: 6px;
}


.video {
    grid-area: content;
} 
video {
    width: 100%;
    object-fit: contain;
}
img {
    grid-column: 1/1;
    grid-row: 1/1;
    padding: 2px;
    width: 100%;
    object-fit: contain;
}
.big {
    grid-row: span 2;
    grid-column:  span 2;
}
.next {
    grid-area: next;
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
    color: var(--milky);
}
#next, #pre {
    text-transform: uppercase;
    align-self: self-end;
}

#trep {
    background-color: rgb(22, 28, 36);
}
#wn {
    background-color: rgb(17, 17, 17);
}
#close {
    width: 92%;
    height: 90%;
    padding: 4%;
    position: fixed;
    display: none;
    color:var(--milky);
    z-index: 10 ;
    text-align: right;
}

#close:hover {
    cursor: pointer;
}
#bg-blur {
    background-blend-mode: hard-light;

    display: none;
    position: fixed;
    margin: 0;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey);
    z-index: 10;
}

.open-focus {
    /* display: grid;
    grid-template-areas: "PhotoCap";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    filter: none ;
    filter: drop-shadow(rgb(35, 35, 35) 1px 1px 4px);
    /* display: block; */
    animation: openImage 0.8s;
    top: 15%;
    left: 15%;
    position: fixed;
    width: 70%;
    margin: 0 auto;
    /* height: 65%; */
    z-index: 20;
}
.open-focus a{ 
    display: block;

    font-size: 0.6em;
    font-weight: 400;
    text-align: left;
    color: var(--lighter-blue);
}

.open-sides1, .open-sides2 {
    opacity: 0.3;
    /* display: block; */
    top: 20%;
    position: fixed;
    width: 50%;
    height: 40%;
    z-index: 15;
} 
.open-sides1 {
    left: 70%;

}
.open-sides2 {
    right: 70%;

} 

@keyframes openImage {
    from {
        transform: translate3d(0px, 10px, 0px);
        opacity: 0;

      }
      to {
        transform: translate3d(0, 0, 0);
        opacity: 1;

      }
}


@media screen and (max-width: 600px) {
    .main-series {
        /* width: 88%; */
        /* height: auto; */
        /* padding: 6%; */
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        /* grid-template-rows: repeat(4, min-content ); */
        grid-template-areas: "title"
                            "text"
                            "content"
                            "next";
    }
    .photos {
        grid-template-columns: 1fr 1fr;
    }
    .photos, .statement, .next{
        padding-bottom: 20px;
    }
    .site-title  {
        padding: 10% 0;

    }
}
@media screen and (max-width: 400px) {

    .photos {
        grid-template-columns: 1fr;
    }
    .big {
        grid-row: span 1;
        grid-column:  span 1;
    }
}
