
:root {
    --blue: #93aac2;
    --lighter-blue: #c3d5e9;
    --red:  #732929;
    --lighter-red:  #c08c8c;
    --dark-grey:  #131313;
    --milky:  #e5dede;
}
.site-title {
    grid-area: title;
}
.main-series {
    /* position: relative;
    display: grid;
    width: 92%;
    height: 90%;
    padding: 4%; */
    column-gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10% 85% 5%;
    grid-template-areas: "title content"
                        "text content"
                        "text next";
}
.statement {
    font-size: 1.2em;
    align-self: self-end;
    grid-area: text;
    font-weight: 300;
    text-align: left;
    z-index: 3;

}
.statement p {
    font-size: 0.6em;
    /* margin: 0 auto; */

    /* padding: 0px 15px 15px 0 ; */
}

.photos {
    /* background-color: var(--milky); */
    grid-area: content;
    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;

    column-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content;
    /* justify-content: start; */
    align-content: start;
    flex-wrap: wrap;
}

.video {
    grid-area: content;
} 
video {
    width: 100%;
    object-fit: contain;
}
img {
    padding: 2px;
    width: 100%;
    object-fit: contain;
}
.big {
    grid-row: span 2;
    grid-column:  span 2;
}
.next {
    grid-area: next;
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
    color: var(--milky);
}
#next, #pre {
    text-transform: uppercase;
    align-self: self-end;
}

#trep {
    background-color: rgb(22, 28, 36);
}
#wn {
    background-color: rgb(17, 17, 17);
}
#close {
    width: 92%;
    height: 90%;
    padding: 4%;
    position: fixed;
    display: none;
    color:var(--milky);
    z-index: 10 ;
    text-align: right;
}

#close:hover {
    cursor: pointer;
}
#bg-blur {
    background-blend-mode: hard-light;

    display: none;
    position: fixed;
    margin: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey);
    z-index: 10;
}

.open-focus {
    filter: none ;

    filter: drop-shadow(rgb(35, 35, 35) 1px 1px 4px);
    display: block;
    animation: openImage 0.8s;
    top: 10%;
    left: 15%;
    position: fixed;
    width: 70%;
    /* height: 70%; */
    margin: 0 auto;
    height: 80%;

    z-index: 20;
}
.open-sides1, .open-sides2 {
    opacity: 0.9;
    display: block;
    top: 20%;
    position: fixed;
    width: 60%;
    height: 60%;
    z-index: 15;
} 
.open-sides1 {
    left: 70%;

}
.open-sides2 {
    right: 70%;

} 

@keyframes openImage {
    from {
        transform: translate3d(0px, 10px, 0px);
        opacity: 0;

      }
      to {
        transform: translate3d(0, 0, 0);
        opacity: 1;

      }
}


@media screen and (max-width: 600px) {
    .main-series {
        /* width: 88%; */
        height: auto;
        /* padding: 6%; */
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        grid-template-rows: repeat(4, min-content );
        grid-template-areas: "title"
                            "text"
                            "content"
                            "next";
    }
    .photos {
        grid-template-columns: 1fr 1fr;
    }
    .photos, .statement, .next{
        padding-bottom: 20px;
    }
    .site-title  {
        padding: 30px 0;
    }
}
@media screen and (max-width: 400px) {

    .photos {
        grid-template-columns: 1fr;
    }
    .big {
        grid-row: span 1;
        grid-column:  span 1;
    }
}
